body{
  margin: 0 auto;
  text-align: center;
}

p.responsive{
  color: blue;
}

.practice{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-count: 2;
}

.introduce {
    width: 50%;
}

img.response{
  width: 40%;
  margin: 5%;
}

/* @media screen and (max-width:768px){
  p.responsive{
    color: red;
  }
}

@media screen and (max-width:480px){
  p.responsive{
    color: green;
  }
} */

@media screen and (min-width:481px){
  p.responsive{
    color: green;
  }

  .practice{
    flex-wrap: wrap;
    column-count: 2;
  }
}

@media screen and (min-width:769px){
  p.responsive{
    color: red;
  }

  .practice{
    flex-wrap: wrap;
    column-count: 2;
  }
}

